<h1><%= @quiz.title %> Questions</h1>

<table class="table table-striped table-hover">

  <thead class="table-dark">
    <tr>
      <th>Question</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.stem %></td>
        <td class="text-nowrap">
          <%= link_to 'show', quiz_question_path(@quiz, question), class: 'btn btn-sm btn-outline-secondary' %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<p>
  <%= link_to 'New Question', new_quiz_question_path(@quiz), class: 'btn btn-secondary' %>
</p>

<p>
  <%= link_to 'Back to quiz', quiz_path(@quiz), class: 'btn btn-outline-secondary' %>
</p>
