<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand mb-1" href="#">Quizzes</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to 'Home', quizzes_path, class: "nav-link #{active_class(quizzes_path)} btn btn-link" %>
        </li>
      </ul>

      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Hi, #{current_user.email}", edit_user_registration_path,
                        class: "nav-link #{active_class(edit_user_registration_path)} btn btn-link" %>
          </li>
          <li class="nav-item">
            <%= button_to 'Sign Out', destroy_user_session_path,
                          method: :delete, data: { turbo: false }, class: 'nav-link btn btn-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign In', new_user_session_path,
                        class: "nav-link #{active_class(new_user_session_path)} btn btn-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path,
                        class: "nav-link #{active_class(new_user_registration_path)} btn btn-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
